@charset "UTF-8";
@import "../../../../bower_components/bourbon/app/assets/stylesheets/bourbon",
"../../../../bower_components/breakpoint-sass/stylesheets/breakpoint",
"fonts",
"library/_constants",
"library/_library";

body {
  font-family: PTSans, sans-serif;
  font-size: 1.8rem;
  line-height: 1.55;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: $mb;
}

h1 {
  font-size: $fnt_size*1.602;
  color: $color_heading;
}

h2 {
  font-size: 2.4rem;
  font-family: Lora, sans-serif;
  color: $color_heading;
}

h3,
h4,
h5,
h6 {
  font-family: Lora, sans-serif;
  font-size: 1.8rem;
  color: $color_heading;
}

em {
  font-style: italic;
  b,
  strong {
    font-weight: 700;
  }
}

b,
strong {
  font-weight: 700;
}

i {
  font-style: italic;
}

div,
td,
li,
p,
h5,
h6 {
  font-size: $fnt_size;
  line-height: 2.4rem;
}

table {
  margin-top: $mb;
  max-width: 100% !important;
  border: 1px solid $table_color;
  td {
    border: 1px solid $table_color;
    padding: 15px 25px;
  }
  &.alignright{
    float: right;
    margin: $mb 0 0.375em 0.375em;
  }
  &.alignleft {
    float: left;
    margin: $mb 0.375em 0.375em 0;
  }
  &.aligncenter {
    clear: both;
    display: table;
    margin: $mb auto 0;
  }
}

.table-wrap {
  overflow-x: auto;
  table {
    display: table;
  }
}

blockquote {
  margin-top: $mb;
  display: block;
  position: relative;
  padding: 40px 0;
  @include breakpoint($brp-2) {
    padding: 40px 70px;
  }
  * {
    font-size: 2.2rem !important;
    margin: 0 !important;
    font-style: italic !important;
  }
  &::before,
  &::after {
    content: '\e800';
    position: absolute;
    font-family: Fontello, sans-serif;
    font-size: 2.1rem;
    color: #424242;
    top: 0;
    left: 0;
  }
  &::after {
    content: '\e802';
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
  }
}

ol,
ul {
  list-style-position: outside;
  padding-left: 20px;
  margin-top: $mb;
  line-height: 2.7rem;
}

ol {
  list-style: decimal;
}

ul {
  list-style-type: disc;
}

li {
  position: relative;
  padding-left: 20px;
  margin-top: $mb*0.618;

}

a {
  color: $color_heading;
  text-decoration: none;
  border-bottom: 1px solid $color_heading;
  @include transition(border-color 0.3s ease-out);
  &:hover {
    border-color: transparent;
  }
}

/* Joomla! */
/* WordPress */
.alignleft {
  float: left;
  margin: 0.375em 0.375em 0.375em 0;
}

.alignright {
  float: right;
  margin: 0.375em 0 0.375em 0.375em;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 0.375em;
}
