.details-content {
  padding-bottom: 75px;
  font-size: 1.8rem;
  line-height: 1.4;
  p {
    margin-bottom: 20px;
  }
  &__download {
    text-decoration: none;
    position: relative;
    font-size: 0;
    background-color: #ffcc33;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    width: 200px;
    height: 45px;
    line-height: 4.5rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 1.4rem;
    margin: 23px auto 0;
    @include transition(background-color 0.3s linear);
    &::before {
      content: '';
      display: inline-block;
      vertical-align: top;
      background-image: url($svg);
      background-position: -10px -1634px;
      width: 24px;
      height: 18px;
      position: absolute;
      left: 50%;
      top: 50%;
      @include transition(transform 0.3s linear);
      @include transform(translate(-148px, -50%));
      @include breakpoint($brp-5) {
        @include transform(translate(-210px, -50%));
      }
    }
    &-text {
      display: inline-block;
      vertical-align: top;
      width: 200px;
      height: 45px;
      line-height: 4.5rem;
      font-size: 1.4rem;
      @include transition(transform 0.3s linear);
      @include breakpoint($brp-5) {
        width: 235px;
        height: 60px;
        font-size: 1.5rem;
        line-height: 6rem;
      }
    }
    &:hover {
      background-color: rgba(#ffcc33, 0.8);
      .catalog-content__more-text {
        @include transform(translateX(100%));
      }
      &::before {
        @include transform(translate(-50%, -50%));
      }
    }
    @include breakpoint($brp-5) {
      margin-top: 38px;
      width: 235px;
      height: 60px;
      font-size: 1.6rem;
      line-height: 6rem;
    }
  }
}

.breadcrumbs {
  background-color: #e8e8e8;
  margin-bottom: 10px;
  @include user-select(none);
  &__list {

    @include display(flex);
    @include align-items(center);
    @include justify-content(flex-start);
    @include flex-wrap(wrap);
    min-height: 60px;
    @include breakpoint($brp-3) {

    }
  }
  &__item {
    &_delimeter {
      margin: 0 15px;
      color: #999999;
    }
  }
  &__crumb {
    color: #999999;
    text-decoration: none;
    &_last {
      color: #000;
    }
  }
}

.catalog-content {
  font-size: 1.8rem;
  line-height: 1.4;
  &__desc {
    overflow: hidden;
    @include transition(max-height 0.3s linear);
    position: relative;
    &.more{
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 20px;
        bottom: 0;
        left: 0;
        position: absolute;
        @include linear-gradient(to top, #fff, transparent);
        background-color: transparent;
        @include transition(transform 0.3s linear);
      }
    }

    &.show {
      &::after {
        @include transform(scale(0));
      }
    }
  }
  &__more {
    text-decoration: none;
    position: relative;
    font-size: 0;
    background-color: #ffcc33;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    width: 200px;
    height: 45px;
    line-height: 4.5rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 1.4rem;
    margin: 23px auto 0;
    @include transition(background-color 0.3s linear);
    &::before {
      content: '';
      display: inline-block;
      vertical-align: top;
      background-image: url($svg);
      background-position: -10px -1634px;
      width: 24px;
      height: 18px;
      position: absolute;
      left: 50%;
      top: 50%;
      @include transition(transform 0.3s linear);
      @include transform(translate(-148px, -50%));
      @include breakpoint($brp-5) {
        @include transform(translate(-210px, -50%));
      }
    }
    &-text {
      display: inline-block;
      vertical-align: top;
      width: 200px;
      height: 45px;
      line-height: 4.5rem;
      font-size: 1.4rem;
      @include transition(transform 0.3s linear);
      @include breakpoint($brp-5) {
        width: 235px;
        height: 60px;
        font-size: 1.5rem;
        line-height: 6rem;
      }
    }
    &:hover {
      background-color: rgba(#ffcc33, 0.8);
      .catalog-content__more-text {
        @include transform(translateX(100%));
      }
      &::before {
        @include transform(translate(-50%, -50%));
      }
    }
    @include breakpoint($brp-5) {
      margin-top: 38px;
      width: 235px;
      height: 60px;
      font-size: 1.6rem;
      line-height: 6rem;
    }
  }
}

.goods {
  margin-top: 60px;
  margin-bottom: 45px;
  margin-left: -17px;
  margin-right: -17px;
  &__price {
    display: none;
  }
  &__thumb {
    vertical-align: top;
  }
  &__image {
    display: block;
    text-decoration: none;
  }
  &__title {
    line-height: 1;
    margin-top: 3px;
    margin-bottom: 10px;
  }
  &__link {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.3;
    text-transform: uppercase;
    color: $text;
  }
  &__list {
    @include breakpoint($brp-2) {
      @include display(flex);
      @include flex-wrap(wrap);
      @include justify-content(space-between);
      @include align-items(flex-start);
      width: 460px;
      margin: 0 auto;
      &:after {
        content: '';
        width: 220px;
        display: block;
        @include order(99);
      }
    }
    @include breakpoint($brp-3) {
      width: 700px;
    }
    @include breakpoint($brp-5) {
      width: auto;
    }
  }
  &__item {
    text-align: center;
    width: 220px;
    margin: 0 auto 20px;
    border: 1px solid #ffcc33;
    padding: 9px 17px 15px;
    @include breakpoint($brp-2) {
      margin-left: 0;
      margin-right: 0;
    }
  }
  &__number {
    font-weight: bold;
    @include user-select(none);
  }
}

.product {
  padding-bottom: 35px;
  @include breakpoint($brp-4) {
    @include display(flex);
    @include align-items(flex-start);
    @include justify-content(flex-start);
  }
  &__item {
    width: 284px;
    margin: 0 auto;
    @include flex-shrink(0);
    @include breakpoint($brp-4) {
      width: 420px;
      margin: 0;
      margin-right: 25px;
      &_news {
        width: 400px;
      }
      &_material {
        width: 325px;
      }
    }
  }
  &__thumbnails {
    @include display(flex);
    @include align-items(flex-start);
    @include justify-content(space-between);
    @include flex-wrap(wrap);
    margin-bottom: 20px;
    &::before,
    &::after {
      content: '';
      display: block;
      width: 29.5%;
      @include breakpoint($brp-4) {
        width: 126px;
      }
    }
    &-link {
      position: relative;
      @include display(flex);
      @include align-items(center);
      @include justify-content(center);
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(#ffcc33, 0.5);
        @include transition(transform 0.3s linear);
        @include transform(scale(0));
      }
    }
    &-item {
      width: 29.5%;
      border: 1px solid #ffcc33;
      @include transition(border-color 0.3s linear);
      @include breakpoint($brp-4) {
        width: 126px;
      }
      &_main {
        width: 100%;
        margin-bottom: 20px;
      }
      &:hover {
        border-color: rgba(#ffcc33, 0.5);
        .product__thumbnails-link {
          &::after {
            @include transform(scale(1));
          }
        }
      }
    }
    img{
      vertical-align: top;
    }
  }
  &__desc {

    font-size: 1.8rem;
    line-height: 1.4;
    b, strong {
      font-weight: bold;
      font-size: 2.4rem;
    }
    p {
      margin-bottom: 20px;
    }
    @include breakpoint($brp-4) {

    }
  }
}

.map {
  @include breakpoint($brp-5) {
    padding: 0 53px;
  }
  &__map {
    border: 2px solid #ffcc33;
    width: 100%;
    height: 600px;
    margin-bottom: 20px;
    &_small {
      height: auto;
      width: 100%;
      margin: 0;
      @include breakpoint($brp-2) {
        width: 47%;
      }
      @include breakpoint(1100px) {
        width: 500px;
      }
    }
  }
  &__vladimir {
    border: 2px solid #ffcc33;
    @include breakpoint($brp-2) {
      width: 47%;
    }
    @include breakpoint(1100px) {
      width: auto;
    }
    &-img {
      vertical-align: top;
    }
  }
  &__container {
    margin-bottom: 20px;
    @include display(flex);
    @include justify-content(space-between);
    @include flex-direction(column);
    @include breakpoint($brp-2) {
      @include flex-direction(row);
    }
  }
  &__desc {
    font-size: 1.8rem;
    p {
      margin-bottom: 20px;
    }
  }
}

.map-data {
  margin-bottom: 30px;
  &__item {
    font-size: 1.8rem;
    line-height: 1.2;
    padding-left: 45px;
    position: relative;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      content: '';
      background-image: url($svg);
      background-repeat: no-repeat;
      display: block;
      background-position: -10px -1910px;
      width: 28px;
      height: 33px;
      position: absolute;
      left: 0;
      top: 50%;
      @include transform(translateY(-50%));
    }
    &_phone {
      font-size: 0;
      @include breakpoint($brp-1) {
        font-size: 1.8rem;
      }
      &::before {
        background-position: -10px -1963px;
        width: 33px;
        height: 32px;
      }
    }
    &_mail {
      &::before {
        background-position: -10px -1866px;
        width: 33px;
        height: 24px;
      }
    }
    &-phones {
      font-size: 1.8rem;
      text-decoration: none;
      color: $text;
      display: block;
      @include breakpoint($brp-1) {
        display: inline;
      }
    }
    &-mail {
      text-decoration: none;
      color: $text;
    }
  }
}