.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 530px;
  overflow: hidden;
  z-index: -1;
  background-image: url($path + 'img/mobile-bg.jpg');
  background-repeat: no-repeat;
  background-position: 75% -55px;
  @include breakpoint($brp-4) {
    background: none;
    height: auto;
    max-height: 800px;
  }
  &::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.1);
    @include breakpoint($brp-4) {
      display: block;
      background-image: url($path + 'img/video-bg.png');
      opacity: 0.6;
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
  &__item {
    display: none;
    width: 100%;
    height: auto;
    @include breakpoint($brp-4) {
      display: block;
      width: auto;
      height: 800px;
    }
    @include breakpoint(1420px) {
      height: auto;
      width: 100%;
    }
  }
}

.h-production {
  padding-top: 27px;
  padding-bottom: 30px;
  @include breakpoint($brp-5) {
    padding-bottom: 60px;
    padding-top: 55px;
  }
  &__desc {
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding-top: 16px;
    @include breakpoint($brp-5) {
      font-size: 1.6rem;
      line-height: 2.8rem;
    }
  }
  &__title {
    @include user-select(none);
    text-align: center;
    font-size: 1.8rem;
    line-height: 1;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 18px;
    @include breakpoint($brp-5) {
      font-size: 3.6rem;
      margin-bottom: 27px;
    }
    &_b {
      font-weight: bold;
    }
  }
  &__image {
    display: block;
  }
  &__list {
    text-align: center;
    width: 290px;
    margin: 0 auto;
    @include breakpoint($brp-3) {
      @include display(flex);
      @include justify-content(space-between);
      width: 580px;
    }
    @include breakpoint($brp-4) {
      width: auto;
      @include flex-direction(column);
      @include justify-content(center);
      @include align-items(center);
    }
    @include breakpoint($brp-5) {
      @include flex-direction(row);
      @include justify-content(space-between);
      @include align-items(flex-start);
    }
  }
  &__item {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    &:last-child {
      margin-bottom: 0;
    }
    @include breakpoint($brp-4) {
      margin: 0;
      display: block;
      margin-bottom: 25px;
    }
    @include breakpoint($brp-5) {
      margin-bottom: 0;
    }
  }
  &__img {
    vertical-align: top;
    display: inline-block;
    width: 270px;
    height: 170px;
    max-width: 100%;
    @include breakpoint($brp-4) {
      width: 550px;
      height: 350px;
    }
  }
  &__caption {
    background-color: rgba(#ffcc33, 0.8);
    display: block;
    width: 235px;
    height: 50px;
    padding-left: 8px;
    line-height: 1;
    padding-top: 8px;
    margin-top: -23px;
    position: relative;
    z-index: 1;
    margin-left: -7px;
    @include breakpoint($brp-4) {
      width: 480px;
      height: 100px;
      padding-top: 19px;
      margin-top: -45px;
      margin-left: -17px;
      padding-left: 19px;
    }
    &-text {
      text-decoration: none;
      display: block;
      line-height: 1.3;
      font-size: 14px;
      color: #000;
      font-weight: bold;
      text-transform: uppercase;
      @include breakpoint($brp-4) {
        font-size: 2.4rem;
      }
    }
  }
  &__more {
    position: relative;
    font-size: 0;
    background-color: #ffcc33;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    width: 200px;
    height: 45px;
    line-height: 4.5rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 1.4rem;
    margin: 23px auto 0;
    @include transition(background-color 0.3s linear);
    &::before {
      content: '';
      display: inline-block;
      vertical-align: top;
      background-image: url($svg);
      background-position: -10px -1634px;
      width: 24px;
      height: 18px;
      position: absolute;
      left: 50%;
      top: 50%;
      @include transition(transform 0.3s linear);
      @include transform(translate(-148px, -50%));
      @include breakpoint($brp-5) {
        @include transform(translate(-210px, -50%));
      }
    }
    &-text {
      display: inline-block;
      vertical-align: top;
      width: 200px;
      height: 45px;
      line-height: 4.5rem;
      font-size: 1.4rem;
      @include transition(transform 0.3s linear);
      @include breakpoint($brp-5) {
        width: 235px;
        height: 60px;
        font-size: 1.5rem;
        line-height: 6rem;
      }
    }
    &:hover {
      background-color: rgba(#ffcc33, 0.8);
      .h-production__more-text {
        @include transform(translateX(100%));
      }
      &::before {
        @include transform(translate(-50%, -50%));
      }
    }
    @include breakpoint($brp-5) {
      margin-top: 28px;
      width: 235px;
      height: 60px;
      font-size: 1.6rem;
      line-height: 6rem;
    }
  }
}

.stages {
  background-image: url($path + '/img/etapy-bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  min-height: 495px;
  padding-top: 14px;
  padding-bottom: 20px;
  @include breakpoint($brp-4) {
    padding-top: 45px;
    padding-bottom: 92px;
  }
  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    width: 290px;
    margin: 0 auto;
    line-height: 1.3;
    margin-bottom: 15px;
    @include breakpoint($brp-4) {
      font-size: 3.6rem;
      width: auto;
      margin-bottom: 19px;
    }
    &_b {
      font-weight: bold;
    }
  }
  &__item {
    text-align: center;
    position: relative;
    margin-bottom: 15px;
    width: 190px;
    padding-left: 55px;
    @include flex-shrink(0);
    @include display(flex);
    @include align-items(center);
    @include justify-content(flex-start);
    @include breakpoint($brp-4) {
      display: block;
      padding-left: 0;
      margin-right: 55px;
      margin-bottom: 0;
      width: 125px;
    }
    @include breakpoint($brp-5) {
      width: 145px;
      margin-right: 70px;
    }
    &::before {
      content: '';
      @include flex-shrink(0);
      display: inline-block;
      vertical-align: top;
      position: absolute;
      left: -30px;
      top: 93%;
      width: 83px;
      height: 83px;
      background-image: url($svg);
      background-repeat: no-repeat;
      background-position: -10px -550px;
      @include transform(translateY(-50%) scale(0.44));
      /*margin-left: -85px;*/
      margin-top: -23px;
      @include breakpoint($brp-4) {
        position: static;
        @include transform(scale(1));
        margin-bottom: 30px;
        margin-top: 0;
        margin-left: 0;
      }
    }
    &::after {
      content: '';
      display: inline-block;
      vertical-align: top;
      background-image: url($svg);
      background-repeat: no-repeat;
      position: absolute;
      bottom: -25px;
      left: 40%;
      background-position: -10px -1524px;
      width: 19px;
      height: 33px;
      @include transform(scale(0.42) rotate(90deg));
      @include breakpoint($brp-4) {
        @include transform(scale(1) rotate(0));
        bottom: auto;
        top: 69px;
        right: -60px;
        left: auto;
      }
    }
    &_stamp {
      @include breakpoint($brp-4) {
        width: 175px;
        margin-right: 45px;
      }
      @include breakpoint($brp-5) {
        margin-right: 50px;
        width: 205px;
      }
      &::before {
        background-position: -10px -748px;
        width: 87px;
        height: 83px;
        /*margin-left: -75px;*/
        @include breakpoint($brp-4) {
          margin-top: 0;
          margin-left: 0;
        }
      }
      &::after {
        /*left: 27px;*/
        @include breakpoint($brp-4) {
          left: auto;
          right: -40px;
        }
      }
    }
    &_form {
      @include breakpoint($brp-4) {
        width: 155px;
        margin-right: 45px;
      }
      @include breakpoint($brp-5) {
        margin-right: 55px;
        width: 180px;
      }
      &::before {
        background-position: -10px -10px;
        width: 74px;
        height: 83px;
        /*margin-left: -70px;*/
        @include breakpoint($brp-4) {
          margin-top: 0;
          margin-left: 0;
        }
      }
      &::after {
        right: auto;
        /*left: 27px;*/
        @include breakpoint($brp-4) {
          left: auto;
          right: -45px;
        }
      }
    }
    &_box {
      @include breakpoint($brp-4) {
        width: 190px;
        margin-right: 35px;
      }
      @include breakpoint($brp-5) {
        margin-right: 45px;
        width: 220px;
      }
      &::before {
        background-position: -10px -2371px;
        width: 115px;
        height: 93px;
        left: -50px;
        /*margin-left: -45px;*/
        @include breakpoint($brp-4) {
          left: 0;
          margin-top: 0;
          margin-left: 0;
          margin-bottom: 20px;
        }
      }
      &::after {

        right: auto;
        /*left: 56px;*/
        @include breakpoint($brp-4) {
          left: auto;
          right: -30px;
        }
      }
    }
    &_delivery {
      @include breakpoint($brp-4) {
        width: 160px;
        padding-top: 13px;

      }
      &::before {
        background-position: -10px -1266px;
        width: 82px;
        height: 60px;
        top: 110%;
        /*margin-left: -107px;*/
        @include breakpoint($brp-4) {
          margin-bottom: 40px;
          margin-top: 0;
          margin-left: 0;
        }
      }
    }
    &-text {
      text-align: left;
      display: inline-block;
      vertical-align: top;
      font-size: 1.4rem;
      line-height: 1.8rem;
      font-weight: bold;
      @include user-select(none);
      @include breakpoint($brp-4) {
        text-align: center;
        display: block;
        font-size: 2rem;
        line-height: 2.6rem;
      }
      @include breakpoint($brp-5) {
        font-size: 2.4rem;
        line-height: 3rem;
      }
    }
    &:last-child {
      margin-right: 0;
      &::after {
        display: none;
      }
    }
  }
  &__list {
    width: 240px;
    margin: 0 auto;
    padding-left: 20px;
    height: 345px;
    padding-top: 13px;
    padding-bottom: 18px;
    background-color: rgba(#fff, 0.9);
    @include display(flex);
    @include align-items(center);
    @include justify-content(flex-start);
    @include flex-direction(column);
    @include breakpoint($brp-4) {
      /*@include transform(scale(0.9));*/
      margin: 0;
      height: 290px;
      width: 100%;
      @include flex-direction(row);
      @include justify-content(flex-start);
      @include align-items(flex-start);
      padding-top: 58px;
      padding-left: 25px;
      padding-right: 48px;
    }
    @include breakpoint($brp-5) {
      /*@include transform(scale(1));*/
    }
  }
}

.f-block {
  margin-bottom: 75px;
  &_home {
    margin: 0;
  }
  @include breakpoint($brp-5) {
    height: 1004px;
    background-image: url($path + 'img/form-bg.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
  &__caption {
    @include user-select(none);
    text-align: center;
    width: 230px;
    margin: 0 auto 13px;
    font-size: 1.8rem;
    text-transform: uppercase;
    line-height: 2.4rem;
    padding-top: 23px;
    color: #000;
    @include breakpoint($brp-5) {
      padding-top: 30px;
      font-size: 3.6rem;
      line-height: 5rem;
      width: auto;
      margin-bottom: 70px;
    }
    &_b {
      font-weight: bold;
      display: block;
    }
  }
  &__inner {
    width: 290px;
    margin: 0 auto;
    @include breakpoint($brp-3) {
      width: 680px;
    }
    @include breakpoint($brp-5) {
      width: auto;
      @include display(flex);
      @include align-items(flex-start);
      @include justify-content(space-between);
    }
  }
}

.advantages {
  display: none;
  @include breakpoint($brp-5) {
    display: block;
    @include user-select(none);
  }
  &__item {
    @include display(flex);
    @include align-items(center);
    @include justify-content(flex-start);
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      content: '';
      display: inline-block;
      vertical-align: top;
      background-image: url($svg);
      background-repeat: no-repeat;
      background-position: 2px -1721px;
      width: 86px;
      height: 78px;
      margin-right: 35px;
    }
    &_clock {
      &::before {
        background-position: 12px -113px;
        height: 76px;
      }
    }
    &_map {
      &::before {
/*        background-position: -2px -653px;
        height: 75px;*/
        background-position: -10px -2371px;
        width: 115px;
        height: 93px;
        @include transform(scale(0.9));
        margin-left: -10px;
        margin-right: 20px;
      }
    }
    &_truck {
      &::before {
        background-position: -10px -1345px;
        height: 52px;
      }
    }
    &_deadline {
      &::before {
        background-position: 3px -307px;
        height: 76px;
      }
    }
    &_cmyk {
      &::before {
        background-position: -2px -209px;
        height: 78px;
      }
    }
  }
  &__text {
    font-size: 1.8rem;
    line-height: 1.2;
    color: #000;
  }
}

.f-ordering {
  background-color: rgba(#ffcc33, 0.8);
  width: 100%;
  height: 370px;
  padding: 20px 40px 0;
  @include breakpoint($brp-3) {
    padding-top: 32px;
    width: 680px;
    height: 685px;
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(flex-start);
  }
  &__column {
    @include breakpoint($brp-3) {
      width: 275px;
    }
  }
  &__label {
    @include user-select(none);
    display: block;
    font-size: 1.6rem;
    color: #000;
    line-height: 1;
    margin-bottom: 7px;
    @include breakpoint($brp-3) {
      font-size: 1.8rem;
      margin-bottom: 4px;
    }
  }
  &__row {
    margin-bottom: 18px;
    @include breakpoint($brp-3) {
      margin-bottom: 32px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &-inner {
      @include display(flex);
      @include justify-content(space-between);
    }
    &_submit {
      margin-top: 18px;
      @include breakpoint($brp-3) {
        margin-top: 34px;
      }
    }
  }
  &__input {
    height: 30px;
    line-height: 3rem;
    display: block;
    background-color: #fff;
    color: #969696;
    border: none;
    padding: 0 12px;
    width: 100%;
    font-size: 1.2rem;
    @include transition(border-color 0.3s linear, box-shadow 0.3s linear);
    @include placeholder {
      color: #969696;
    }
    @include breakpoint($brp-3) {
      font-size: 2.3rem;
      height: 35px;
      line-height: 3.5rem;
      &_small {
        width: 79px;
      }
      &_middle {
        color: #ffc600;
        width: 125px;
      }
    }
  }
  &__hide {
    display: none;
    @include breakpoint($brp-3) {
      display: block;
    }
  }
  &__submit {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    padding: 0;
    background: #4c401b;
    border: none;
    text-align: center;
    color: #ffffff;
    width: 166px;
    margin: 0 auto;
    height: 40px;
    line-height: 4rem;
    text-transform: uppercase;
    @include transition(background-color 0.3s linear, color 0.3s linear);
    position: relative;
    &-text {
      text-align: center;
      color: #ffffff;
      width: 166px;
      margin: 0 auto;
      height: 40px;
      line-height: 4rem;
      text-transform: uppercase;
      display: block;
      @include transition(transform 0.3s linear);
      @include breakpoint($brp-5) {
        height: 68px;
        line-height: 6.8rem;
        font-size: 2.1rem;
        margin: 0;
        width: 100%;
      }
    }
    @include breakpoint($brp-3) {
      height: 68px;
      line-height: 6.8rem;
      font-size: 2.1rem;
      margin: 0;
      width: 100%;
      &::after {
        content: '';
        display: block;
        background-image: url($svg);
        background-position: -10px -501px;
        width: 40px;
        height: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-234px, -50%));
        @include transition(transform 0.3s linear);
      }
    }
    &:hover {
      background-color: #000000;
      @include breakpoint($brp-3) {
        background-color: #4c401b;
        color: #4c401b;
        .f-ordering__submit-text {
          @include transform(translateX(100%));
        }
        &::after {
          @include transform(translate(-50%, -50%));
        }
      }
    }
  }
  &__select {
    cursor: pointer;
    background: none;
    color: #ffc600;
    width: 120%;
    padding-left: 12px;
    font-size: 2.3rem;
    height: 35px;
    line-height: 3.5rem;
    position: relative;
    z-index: 1;
    border: none;
    &-wrap {
      display: block;
      width: 100%;
      position: relative;
      overflow: hidden;
      background-color: #fff;
      &::after {
        content: '>';
        display: block;
        position: absolute;
        right: 8px;
        top: 50%;
        font-size: 1.8rem;
        font-weight: bold;
        font-family: ProximaNova, serif;
        color: #ffc600;
        @include transform(translateY(-50%) rotate(90deg));

      }
      &_middle {
        width: 125px;
      }
    }
  }
}

.h-news {
  padding-bottom: 25px;
  @include breakpoint($brp-5) {
    padding-bottom: 70px;
  }
  &__caption {
    font-weight: bold;
    color: #000;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    padding-top: 27px;
    margin-bottom: 27px;
    @include breakpoint($brp-5) {
      font-size: 3.6rem;
      padding-top: 55px;
      margin-bottom: 52px;
    }
    &_inner{
      font-weight: normal;
    }
  }
  &__list {
    @include breakpoint($brp-3) {
      @include display(flex);
      @include align-items(flex-start);
      @include justify-content(center);
      @include flex-wrap(wrap);
      width: 734px;
      margin: 0 auto;
    }
    @include breakpoint($brp-5) {
      padding-top: 38px;
      display: block;
      width: auto;
      margin: 0;

    }
    &_hide{
      overflow: hidden;
      padding-top: 68px;
      @include transition(max-height 0.3s linear, padding 0.3s linear);
    }
    &.hide {
      padding: 0;
      max-height: 0 !important;
    }
  }
  &__date {
    @include user-select(none);
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 3rem;
    @include breakpoint($brp-5) {
      margin-bottom: 25px;
      line-height: 1;
      font-size: 2.4rem;
      text-align: right;
    }
  }
  &__content {
    position: absolute;
    left: -27px;
    top: -14px;
    background-color: rgba(#dddddd, 0.9);
    z-index: 2;
    min-width: 95px;
    height: 30px;

    @include breakpoint($brp-5) {
      width: auto;
      height: auto;
      line-height: inherit;
      position: relative;
      z-index: 1;
      top: 0;
      left: 0;
      margin-top: -250px;
      margin-left: 367px;
      background-color: rgba(#000, 0.15);
      min-height: 270px;
      padding-right: 37px;
      padding-left: 56px;
      padding-top: 28px;
    }
  }
  &__desc {
    display: none;
    @include breakpoint($brp-5) {
      display: block;
      font-size: 1.8rem;
      line-height: 1.3;
    }
  }
  &__item {
    position: relative;
    width: 220px;
    height: 150px;
    margin: 0 auto 45px;
    @include breakpoint($brp-3) {
      margin: 0;
      &:nth-of-type(2n-1) {
        margin-right: 100px;
        margin-bottom: 45px;
        @include breakpoint($brp-5) {
          margin: 0 0 115px;
        }
      }
    }
    @include breakpoint($brp-5) {
      margin: 0;
      margin-bottom: 115px;
      width: auto;
      height: auto;
    }
    &:last-child {
      margin-bottom: 45px;
    }
  }
  &__img {
    height: 150px;
    width: auto;
    @include breakpoint($brp-5) {
      width: auto;
      height: auto;
    }
  }
  &__link {
    position: relative;
    @include display(flex);
    @include align-items(center);
    text-decoration: none;
    color: $text;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding-left: 8px;
    padding-right: 6px;
    padding-top: 5px;
    padding-bottom: 8px;
    font-weight: bold;
    width: 155px;
    min-height: 55px;
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 7px;
      right: 5px;
      background-image: url($svg);
      background-position: -10px -1605px;
      width: 13px;
      height: 9px;
      @include breakpoint($brp-5) {
        display: none;
      }
    }
    @include breakpoint($brp-5) {
      padding: 0 30px;
      font-size: 2.4rem;
      line-height: 3rem;
      width: 380px;
      min-height: 130px;
    }
  }
  &__title {
    @include user-select(none);
    display: block;
    position: absolute;
    bottom: -11px;
    right: -15px;
    @include transition(background-color 0.3s linear);
    width: 155px;
    min-height: 55px;
    background-color: rgba(#ffd147, 0.9);
    &:hover {
      background-color: #ffdb72;
    }
    @include breakpoint($brp-5) {
      bottom: auto;
      right: auto;
      left: 335px;
      top: -68px;
      width: 380px;
      min-height: 130px;
    }
  }
  &__figure {
    line-height: 1;
    position: relative;
    z-index: 2;
    height: 150px;
    @include breakpoint($brp-5) {
      margin: 0;
      width: 400px;
      height: 265px;
    }
  }
}

.h-materials {
  padding-bottom: 30px;
  &_home {
    @include breakpoint($brp-5) {
      padding-bottom: 75px;
      background-image: url($path + 'img/mat-bg.jpg');
      background-position: 50% 0;
      background-repeat: no-repeat;
      height: 810px;
    }
  }
  &__caption {
    font-weight: bold;
    color: #000;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    padding-top: 27px;
    margin-bottom: 27px;
    &_b {
      font-weight: bold;
    }
    @include breakpoint($brp-5) {
      font-size: 3.6rem;
      padding-top: 55px;
      margin-bottom: 52px;
    }
    &_inner{
      font-weight: normal;
    }
  }
  &__list {
    @include breakpoint($brp-3) {
      padding-right: 17px;
      @include display(flex);
      @include justify-content(space-between);
      @include flex-wrap(wrap);
      width: 734px;
      margin: 0 auto;
    }
    @include breakpoint(834px) {
      width: 800px;
    }
    @include breakpoint($brp-4) {

    }
    @include breakpoint($brp-5) {
      max-width: none;
      width: auto;
      padding: 0 20px;
      margin: 0;
    }
    &_hide{
      overflow: hidden;
      @include transition(max-height 0.3s linear);
    }
    &.hide {
      max-height: 0 !important;
    }
  }
  &__img {
    vertical-align: top;
    height: 170px;
    width: auto;
    @include breakpoint($brp-5) {
      height: auto;
      width: auto;
    }
  }
  &__link {
    color: #FFFFFF;
    width: 175px;
    min-height: 50px;
    @include display(flex);
    @include align-items(center);
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 20px;
    &::after {
      content: '';
      position: absolute;
      right: 7px;
      bottom: 9px;
      display: block;
      background-image: url($svg);
      background-position: -10px -1577px;
      width: 11px;
      height: 8px;
      @include breakpoint($brp-5) {
        display: none;
      }
    }
    @include breakpoint($brp-5) {
      padding-left: 25px;
      font-size: 1.8rem;
      line-height: 2.9rem;
      min-height: 95px;
      width: 270px;
    }
  }
  &__title {
    position: absolute;
    z-index: 2;
    right: -30px;
    bottom: -20px;
    width: 175px;
    min-height: 50px;
    @include transition(background-color 0.3s linear);
    background-color: rgba(#000, 0.8);
    @include breakpoint($brp-3) {
      right: -17px;
    }
    @include breakpoint($brp-5) {
      min-height: 95px;
      width: 270px;
      right: auto;
      left: -15px;
    }
    &:hover {
      background-color: #000;
    }
  }
  &__figure {
    height: 170px;
    position: relative;
    @include breakpoint($brp-5) {
      height: auto;
    }
  }
  &__content {
    display: none;
    @include breakpoint($brp-5) {
      width: 325px;
      display: block;
      background-color: rgba(#ffcc33, 0.8);
      margin-top: -15px;
      margin-left: 15px;
      padding-top: 55px;
      padding-bottom: 25px;
      padding-left: 25px;
      padding-right: 25px;
      position: relative;
      z-index: 1;
      font-size: 1.4rem;
      line-height: 2.25rem;
    }
  }
  &__item {
    width: 225px;
    height: 170px;
    margin: 0 auto;
    margin-bottom: 40px;
    @include breakpoint($brp-3) {
      margin: 0 0 40px;
    }
    @include breakpoint($brp-5) {
      height: auto;
      width: 365px;
    }
    &:last-child {
      display: none;
      @include breakpoint($brp-3) {
        display: block;
      }
    }
  }
}

.produce {
  padding-top: 25px;
  margin: 0 -17px;
  padding-bottom: 25px;
  @include breakpoint($brp-5) {
    padding-bottom: 60px;
    padding-top: 55px;
  }
  &__img {
    display: inline-block;
    vertical-align: top;
    width: 103px;
    height: 77px;
    @include breakpoint($brp-5) {
      width: 160px;
      height: 120px;
    }
  }
  &__figure {
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(space-between);
    width: 142px;
    height: 142px;
    padding-top: 15px;
    @include transition(height 0.3s linear);
    @include breakpoint($brp-5) {
      padding: 20px 13px 15px;
      width: 218px;
      height: 218px;
    }
  }
  &__caption {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 1;
    margin-bottom: 17px;
    @include user-select(none);
    @include breakpoint($brp-5) {
      font-size: 3.6rem;
      margin-bottom: 30px;
    }
    &_b {
      font-weight: bold;
    }
  }
  &__list {
    width: 305px;
    margin: 0 auto;
    @include display(flex);
    @include align-items(flex-start);
    @include justify-content(space-between);
    @include flex-wrap(wrap);
    @include breakpoint($brp-4) {
      width: 820px;
    }
    @include breakpoint($brp-5) {
      width: 100%;
    }
  }
  &__link {
    text-decoration: none;
    text-align: center;
    display: block;
    @include transition(transform 0.3s linear);
  }
  &__title {
    width: 100%;
    @include flex-shrink(0);
    text-align: center;
    color: $text;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    @include transition(color 0.3s linear);
    &:hover {
      color: #FFFFFF;
    }
    @include breakpoint($brp-5) {
      font-size: 1.8rem;
      text-align: left;
      line-height: 2.4rem;
    }
  }
  &__item {
    width: 144px;
    height: 144px;
    position: relative;
    margin-bottom: 20px;
    &:hover {
      z-index: 99;
    }
    @include breakpoint($brp-5) {
      width: 220px;
      height: 220px;

    }
  }
  &__sub {
    display: none;
    @include breakpoint($brp-5) {
      padding: 0 6px 0 13px;
      display: block;
      @include transition(transform 0.3s linear, margin 0.3s linear);
      &_right {
        width: 100%;
        @include display(flex);
        @include flex-wrap(wrap);
        @include justify-content(space-between);
      }
    }
    &-item {
      line-height: 1;
      margin-bottom: 8px;
      &_right {
        width: 215px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-link {
      font-size: 1.4rem;
      color: #000;
      text-transform: uppercase;
      text-decoration: none;
      line-height: 1.8rem;
      @include transition(color 0.3s linear);
      &:hover {
        color: #FFFFFF;
      }
    }
  }
  &__inner {
    overflow: hidden;
    width: 144px;
    height: 144px;
    border: 1px solid #ffcc33;
    @include transition(width 0.3s linear, height 0.3s linear, background-color 0.3s linear);
    &:hover {
      background-color: #ffcc33;
      z-index: 99;
    }
    @include breakpoint($brp-5) {
      width: 220px;
      height: 220px;
      &:hover {
        .produce__figure_empty {
          height: 295px;
        }
        .produce__link {
          @include transform(translateY(-145px))
        }
        .produce__sub {
          margin-top: -7px;
          @include transform(translateY(-145px))
        }
      }
      &_long {
        &:hover {
          height: 460px;
        }
      }
      &_right {
        &:hover {
          width: 460px;
        }
      }
    }
  }
}