@charset "UTF-8";
@include font-face('ProximaNova', $path + 'fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular', normal, normal, otf /*ttf  svg eot woff*/
);
@include font-face('ProximaNova', $path + 'fonts/ProximaNova/ProximaNovaBold/ProximaNovaBold', bold, normal, ttf otf svg eot woff);
@include font-face('ProximaNova', $path + 'fonts/ProximaNova/ProximaNovaRegularItalic/ProximaNovaRegularItalic', normal, italic, otf);
@include font-face('ProximaNova', $path + 'fonts/ProximaNova/ProximaNovaBoldItalic/ProximaNovaBoldItalic', bold, italic, ttf otf svg eot woff);
@include font-face('lg', $path + 'fonts/Lg/lg', normal, normal, eot svg ttf woff);

* {
  @include box-sizing;
  &::after,
  &::before {
    @include box-sizing;
  }
}

//@include fotter;
@include headModal;
@include modalWindow();

@include scrollbars(.4rem, #201711);

body {
  font-family: sans-serif;
  font-size: $fnt_size;
  line-height: 1.75;
  color: $text;
  background-color: #fff;
  position: relative;
  @include breakpoint($brp-5) {
    &::before,
    &::after {
      content: '';
      display: block;
      width: 15px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url($path + 'img/repeat.jpg');
      background-repeat: repeat-y;
      -webkit-background-size: 100% auto;
      background-size: 100% auto;
    }
    &::after {
      left: auto;
      right: 0;
    }
  }
}

.main {
  &__header {
    width: 100%;
    height: 145px;
    @include breakpoint($brp-4) {
      height: 225px;
    }
    &_home {
      height: 530px;
      @include breakpoint($brp-4) {
        height: 800px;
      }
    }
  }
}

.sprite-svg {
  display: none;
}

.fonts-loaded body {
  font-family: "ProximaNova", serif;
}

.container {
  width: 100%;
  max-width: $w;
  margin: 0 auto;
  padding: 0 17px;
  &_top {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    position: relative;
    @include breakpoint($brp-5) {
      padding-left: 0;
      @include align-items(flex-start);
    }
  }
  &_head {
    position: relative;
    @include breakpoint($brp-4) {
      &:hover {
        z-index: 100;
      }
    }
  }
  &_video {
    padding: 0;
    position: relative;
  }
  &_footer {
    display: none;
    @include breakpoint($brp-4) {
      @include display(flex);
      @include align-items(center);
      @include justify-content(space-between);
      height: 70px;
    }
  }
  &_contact {
    @include breakpoint($brp-4) {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 46px;
      @include display(flex);
      @include align-items(flex-start);
      @include justify-content(space-between);
    }
  }
  &_stages {
    padding: 0;
  }
  &_form {
    padding: 0;
  }
}

.header {
  &__top {
    background-color: rgba(#000, .6);
    height: 50px;
    @include transition(background-color 0.3s linear, transform 0.3s linear);
    &.in {
      background-color: #000;
      @include breakpoint($brp-5) {
        background-color: rgba(#000, .6);
      }
    }
    &.scroll {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 999;
    }
    &.hide {
      @include transform(translateY(-65px));
      @include breakpoint($brp-4) {
        @include transform(translateY(-122px));
      }
    }
    @include breakpoint($brp-4) {
      height: 60px;
    }
  }
  @include breakpoint($brp-5) {
    &__phone {
      position: absolute;
      top: 15px;
      right: 15px;
      &-link {
        display: block;
        text-decoration: none;
        width: 57px;
        height: 57px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background-color: #ffcc33;
        cursor: pointer;
        position: relative;
        &::after {
          font-size: 16px;
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          right: 10px;
          @include transform(translateY(-50%));
          background-image: url($svg);
          background-repeat: no-repeat;
          background-position: 0em -47.5em;
          width: 2.375em;
          height: 2.3125em;
        }
      }
    }
  }
}

.head-phone {
  display: none;
  position: absolute;
  cursor: pointer;
  border-radius: 18.5px;
  width: 37px;
  height: 37px;
  background-color: #ffcc33;
  right: 25px;
  top: 420px;
  &__mail{
    text-decoration: none;
    font-size: 1.8rem;
    color: #000;
    display: block;
    text-align: center;
  }
  &__inner {
    width: 0;
    display: block;
    padding-left: 28px;
    overflow: hidden;
    @include transition(width 0.3s linear, padding 0.3s linear);
    &_mail{
      padding-top: 15px !important;
    }
  }
  &__input {
    display: block;
    background: #ffffff;
    border: none;
    width: 100%;
    line-height: 1.8rem;
    height: 18px;
    padding-left: 15px;
    color: #666666;
    box-shadow: none !important;
    @include transition(border-color 0.3s linear, box-shadow 0.3s linear);
    @include placeholder {
      color: #666666;
    }
  }
  &:hover {
    width: 250px;
    .head-phone__inner {
      width: 190px;
      padding-top: 3px;
      padding-bottom: 3px;
      padding-right: 3px;
      &_mail{
        padding-top: 15px;
      }
      .head-phone__input{
        &.validate-error{
          box-shadow: 0 0 5px 0px #ff0000 !important;
        }
      }
    }
    &.head-phone_mail {

    }
  }
  &__label {
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1;
    color: #000;
    white-space: nowrap;
  }


  &__button {
    border: none;
    background: none;
    display: block;
    text-decoration: none;
    width: 37px;
    height: 37px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    &::after {
      font-size: 16px;
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: 6px;
      @include transform(translateY(-50%));
      background-image: url($svg);
      background-repeat: no-repeat;
      background-size: 291px auto;
      background-position: -6px -635px;
      width: 25px;
      height: 24px;
    }
  }
  @include transition(width 0.3s linear);
  @include breakpoint($brp-4) {
    display: block;
    border-radius: 29.5px;
    width: 57px;
    height: 57px;
    display: block;
    top: 15px;
    right: 15px;
    &:hover {
      width: 250px;
      .head-phone__inner {
        width: 190px;
      }
    }
    &__inner {
      padding-top: 0;
    }
    &__label {
      font-size: 1.4rem;
      line-height: inherit;
    }
    &__input {
      line-height: 2.5rem;
      height: 25px;
    }
    &__inner {
      padding-left: 28px;
    }
    &__button {
      width: 57px;
      height: 57px;
      right: 0;
      top: 0;
      &::after {
        right: 10px;
        background-position: -10px -1011px;
        width: 38px;
        height: 37px;
        -webkit-background-size: auto;
        background-size: auto;
      }
      &_mail {
        &::after {
          right: 9px;
          background-position: -10px -1672px;
          width: 40px;
          height: 29px;
          @include transform(translateY(-50%) scale(0.9));
        }
      }
    }
  }
  &_mail {
    top: 95px;
  }
}

.third-menu {
  overflow: hidden;
  max-height: 0;
  display: block;
  @include transition(max-height 0.3s linear);
  &.in {
    max-height: 400px;
  }
  &__link {
    font-size: 1.4rem;
    color: #000;
    display: block;
    background-color: #ffcc33;
    line-height: 3.6rem;
    height: 37px;
    border-top: 1px solid #000;
    text-decoration: none;
  }
  &__item {

  }
  @include breakpoint($brp-4) {
    overflow: visible;
    max-height: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    &__item {
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__link {
      background: none;
      border: none;
      line-height: inherit;
      height: auto;
      display: block;
      font-size: 1.2rem;
      text-transform: uppercase;
      color: #000;
      text-decoration: none;
      position: relative;
      @include transition(transform 0.3s linear);
      &:hover {
        @include transform(translateX(5px));
      }
    }
  }
}

.top-menu {
  background-color: #000;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  z-index: 99;
  text-align: center;
  @include transition(transform 0.3s linear);
  @include transform (translateY(-900px));
  &.in {
    @include transform (translateY(0));
  }

  @include breakpoint($brp-4) {
    @include transform (translateY(0));
    text-align: left;
    width: auto;
    background: none;
    position: relative;
    top: 0;
    display: block;
    &.in {
      @include transform (translateY(0));
    }
    &:hover {
      z-index: 999;
    }
  }
  &__sub {
    overflow: hidden;
    max-height: 0;
    @include transition(max-height 0.3s linear);
    &_show {
      max-height: none;
      overflow: visible;
    }
    &.in {
      max-height: 150px;
    }
    &-link {
      font-size: 1.4rem;
      color: #000;
      display: block;
      background-color: #ffcc33;
      line-height: 3.6rem;
      height: 37px;
      border-top: 1px solid #000;
      text-decoration: none;
      &_caption {
        display: none;
      }
    }
    &-item {
      &_service {
        display: none;
      }
    }
    @include breakpoint($brp-4) {
      max-height: none;
      overflow: visible;
      min-width: 175px;
      width: auto;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: rgba(#fff, 0.8);
      padding: 15px;
      opacity: 0;
      visibility: hidden;
      z-index: -3;
      @include transform(translateY(150px));
      @include transition(transform 0.3s linear, opacity 0.3s linear, z-index 0.3s linear, visibility 0.3s linear);
      &_show {
        padding: 0;
        padding-top: 4px;
        padding-bottom: 17px;
        opacity: 1;
        visibility: visible;
        z-index: 1;
        @include transform(translateY(0));
        width: 310px;
      }
      &-item {
        line-height: 1;
        margin-bottom: 25px;
        &:last-child {
          margin-bottom: 0;
        }
        &_caption {
          display: block;
          width: 100%;
          position: relative;
          margin: 0;
          &::before {
            content: '';
            position: absolute;
            display: block;
            width: 320px;
            height: 36px;
            top: 0;
            left: 0;
            background-color: rgba(#ffcc33, 0.8);
          }
        }
        &_ready {
          &::after {
            content: '';
            display: block;
            position: absolute;
            left: 15px;
            top: 4px;
            font-size: 16px;
            background-image: url($svg);
            background-repeat: no-repeat;
            background-position: -10px -1067px;
            width: 36px;
            height: 28px;
          }
        }
        &_service {
          display: block;
          &::after {
            content: '';
            display: block;
            position: absolute;
            left: 17px;
            top: 3px;
            font-size: 16px;
            background-image: url($svg);
            background-repeat: no-repeat;
            background-position: -10px -1115px;
            width: 33px;
            height: 30px;
          }
        }
      }
      &-link {
        position: relative;
        font-size: 1.2rem;
        background: none;
        border: none;
        height: auto;
        text-decoration: none;
        color: #000;
        line-height: 1;
        white-space: nowrap;
        text-transform: uppercase;
        display: block;
        @include transition(transform 0.3s linear);
        &:hover {
          @include transform(translateX(5px));
        }
        &_caption {
          font-weight: bold;
          line-height: 3.6rem;
          height: 36px;
          display: inline-block;
          padding-left: 60px;
          &:hover {
            @include transform(translateX(0));
          }
        }
      }
      &.in {
        max-height: none;
        overflow: visible;
      }
    }
    &_right {
      left: auto;
      right: 0;
      @include breakpoint($brp-5) {
        left: 0;
        right: auto;
      }
    }
  }
  &__link {
    font-size: 1.6rem;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    height: 44px;
    line-height: 4.4rem;
    @include transition(color 0.3s linear);
    border-top: 1px solid #ffcc33;
    @include breakpoint($brp-4) {
      font-size: 1.1rem;
      border: none;
      height: auto;
      line-height: inherit;
    }
  }
  &__item {
    @include breakpoint($brp-4) {
      border: none;
      display: inline-block;
      vertical-align: top;
      line-height: 6rem;
      height: 6rem;
      padding: 0 9px;
      @include transition(background-color 0.3s linear);
      &_top {
        &.active,
        &:hover {
          background-color: rgba(#ffcc33, 0.8);
          > .top-menu__link {
            color: #000;
          }
        }
      }
      &_parent {
        position: relative;
        &:hover {
          .top-menu__sub {
            opacity: 1;
            visibility: visible;
            z-index: 1;
            @include transform(translateY(0));
          }
        }
      }
      &_home {
        background-color: rgba(#ffcc33, 0.8);
        > .top-menu__link {
          color: #000;
        }
      }
      &_expand {

        padding: 0 13px;

      }
      &_offset {
        margin-right: 456px;
        @include breakpoint($brp-5) {
          margin-right: 474px;
        }
      }
    }
  }
  &__list {
    font-size: 0;
    width: 100%;
    border-bottom: 1px solid #ffcc33;
    padding-top: 20px;
    @include breakpoint($brp-4) {
      padding: 0;
      border: none;
    }
    @include breakpoint($brp-5) {
      width: auto;
    }
  }
}

.logo {
  padding-top: 5px;
  position: absolute;
  left: 50%;
  top: 14px;
  @include transform(translateX(-50%));
  z-index: 100;
  @include breakpoint($brp-4) {
    @include transform(translateX(0));
    top: 14px;
    left: 369px;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 185px;
    height: 15px;
    top: 36px;
    left: -10px;
    @include transition(background-color 0.3s linear);
    background-color: rgba(#000, .6);
    @include breakpoint($brp-4) {
      top: auto;
      bottom: -15px;
      left: -15px;
      width: 472px;
      height: 62px;
    }
  }
  &.in {
    &::after {
      background-color: transparent;
      @include breakpoint($brp-4) {
        background-color: rgba(#000, .6);
      }
    }
  }
  &__link {
    position: relative;
    z-index: 1;
    display: block;
    text-decoration: none;
    width: 165px;
    height: 33px;
    /*    background-image: url($path + 'img/logo.png ');
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100% auto;*/
    &::after {
      width: 165px;
      height: 33px;
      font-size: 16px;
      content: '';
      display: block;
      background-image: url($svg);
      background-repeat: no-repeat;
      background-position: 0 -503px;
      background-size: 165px auto;
    }
    @include breakpoint($brp-4) {
      width: 443px;
      height: 88px;
      background: none;
      &::after {
        background-position: -10px -1417px;
        width: 443px;
        height: 87px;
        -webkit-background-size: auto;
        background-size: auto;
      }
    }
  }
}

.burger {
  @include burger-menu(none, 35px, 3px, $yellow, 8px, 0);
  margin: 0;
  margin-top: 10px;
  @include breakpoint($brp-4) {
    display: none;
  }
}

.top-phone {
  display: none;
  @include breakpoint($brp-5) {
    display: block;
    padding-top: 10px;
  }
  &__item {
    line-height: 1;
    margin-bottom: 7px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    font-size: 1.2rem;
    line-height: 1;
    color: #bab1b1;
    text-decoration: none;
    @include user-select(none);
  }
}

.menu-buttons {
  display: none;
  @include breakpoint($brp-5) {
    padding-left: 17px;
    display: block;
    font-size: 0;
    &__item {
      display: inline-block;
      vertical-align: top;
    }
    &__icon {
      position: relative;
      width: 132px;
      height: 36px;
      line-height: 3.6rem;
      font-size: 1.2rem;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      color: #000;
      display: inline-block;
      vertical-align: top;
      @include transform(translateX(-132px));
      @include transition(transform 0.3s linear);
      &::after {
        content: '';
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        position: absolute;
        display: block;
        background-image: url($svg);
        background-repeat: no-repeat;
        background-position: -10px -966px;
        width: 23px;
        height: 24px;
        font-size: 16px;
      }
    }
    &__text {
      width: 132px;
      height: 36px;
      line-height: 3.6rem;
      font-size: 1.2rem;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      color: #000;
      display: inline-block;
      vertical-align: top;
      @include transform(translateX(-132px));
      @include transition(transform 0.3s linear);
    }
    &__link {
      white-space: nowrap;
      overflow: hidden;
      position: relative;
      display: block;
      width: 132px;
      height: 36px;
      line-height: 3.6rem;
      background-color: #ffcc33;
      font-size: 0;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      color: #000;
      @include transition(background-color 0.3s linear, color 0.3s linear);

      &_fefco {
        margin-right: 11px;
      }
      &:hover {
        background-color: #ffdb70;
        .menu-buttons__icon {
          @include transform(translateX(0));
        }
        .menu-buttons__text {
          @include transform(translateX(100%));
        }
      }
    }
  }

}

.text-block {
  color: #ffffff;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: -315px;
  left: 0;
  &__caption {
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 10px;
    br {
      display: none;
    }
    &_bold {
      font-weight: 700;
    }
    &_small {
      font-size: 1.8rem;
      display: inline-block;
      vertical-align: top;
      margin-top: 5px;
    }
  }
  &__normal {
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 2.5rem;
    display: inline-block;
    vertical-align: top;
    width: 215px;
  }
  &__small {
    display: none;
  }
  @include breakpoint($brp-4) {
    text-align: left;
    @include user-select(none);
    width: 660px;
    position: absolute;
    top: 355px;
    left: 355px;
    bottom: auto;
    &__caption {
      text-transform: uppercase;
      font-size: 4.5rem;
      line-height: 1;
      margin-bottom: 0;
      br {
        display: block;
      }
      &_bold {
        font-weight: bold;
      }
      &_small {
        display: inline;
        margin: 0;
        font-size: 3.3rem;
        vertical-align: baseline;
      }
    }
    &__normal {
      width: auto;
      display: block;
      font-size: 2.6rem;
      color: #ffffff;
      line-height: 5.3rem;
      text-transform: uppercase;

    }
    &__small {
      display: block;
      width: 375px;
      line-height: 3.2rem;
      color: #ffffff;
      text-align: left;
      font-size: 2.4rem;
      text-transform: uppercase;
      &_st {
        letter-spacing: 1.5px;
      }
      &_nd {
        letter-spacing: 0.1px;
      }
      &_rd {

      }

    }
    &__scroll {
      display: block;
      width: 57px;
      height: 57px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: #ffcc33;
      position: absolute;
      right: 115px;
      bottom: 15px;
      &::before,
      &::after {
        font-size: 16px;
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%));
        background-image: url($svg);
        background-repeat: no-repeat;
        width: 28px;
        height: 38px;
      }
      &::before {
        background-position: -10px -850px;
      }
      &::after {
        background-position: -10px -908px;
        @include animation(visibilityAnimate 1s linear infinite)
      }
    }
  }
}

.footer {
  &__top {
    background-color: #000000;
    @include breakpoint($brp-4) {
      display: block;
      background-image: url($path + 'img/bottom-bg.jpg');
      background-repeat: no-repeat;
      background-position: 50% 0;
      min-height: 440px;
    }
  }
  &__bottom {
    display: none;
    @include breakpoint($brp-4) {
      @include user-select(none);
      display: block;
      background-color: #ffcc33;
    }
  }
  &__left {
    display: none;
    @include breakpoint($brp-4) {
      @include display(flex);

    }
    @include breakpoint($brp-5) {
      padding-left: 45px;
    }
  }
  &__right {
    padding-top: 15px;
    padding-bottom: 15px;
    @include breakpoint($brp-4) {
      padding: 0;
    }
    @include breakpoint($brp-5) {

      padding-right: 45px;
    }
  }
}

.copyright {
  color: #000000;
  font-size: 1.6rem;
  text-transform: uppercase;
  line-height: 1;
}

.g-lab {
  display: none;
  line-height: 1;
  &_show {
    display: block;
  }
  &__link {
    text-decoration: none;
    color: #000;
    font-size: 1.6rem;
    text-transform: uppercase;
  }
}

.f-contact {
  text-transform: uppercase;
  padding-left: 5px;
  @include breakpoint($brp-4) {
    text-align: right;
  }
  &:first-child {
    margin-bottom: 17px;
    @include breakpoint($brp-4) {
      margin-bottom: 60px;
    }
  }
  &__caption {
    font-size: 1.4rem;
    font-weight: bold;
    color: #ffcc33;
    margin-bottom: 5px;
    &-contact {
      display: none;
      @include breakpoint($brp-4) {
        display: inline;
      }
    }
    @include breakpoint($brp-4) {
      font-size: 16px;
      margin: 0;
      line-height: 1.9;
    }
  }
  &__data {
    color: #ffffff;
    font-size: 1.4rem;
    line-height: 1.9;
    @include breakpoint($brp-4) {
      font-size: 16px;
      line-height: 1.9;
    }
    &-hide {
      display: none;
      @include breakpoint($brp-4) {
        display: inline;
      }
      a {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.b-menu {
  margin-right: 23px;
  &__caption {
    font-size: 16px;
    font-weight: bold;
    color: #ffcc33;
    text-transform: uppercase;
    line-height: 1.9;
    &_last {
      margin-top: 30px;
    }
  }
  &__item {
    line-height: 1.9;
  }
  &__link {
    text-decoration: none;
    color: #ffffff;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1;
    @include transition(color 0.3s linear);
    &:hover {
      color: #ffcc33;
    }
    &_caption {
      font-size: 16px;
      font-weight: bold;
      color: #ffcc33;
      text-transform: uppercase;
      line-height: 1.9;
    }
  }
  &:last-child {
    .b-menu__list {
      &:last-child {
        margin-top: 30px;
      }
    }
  }
}

.m-menu-buttons {
  display: none;
  font-size: 0;
  padding: 30px 0;
  text-align: center;
  @include breakpoint($brp-5) {
    display: none;
  }
  &__item {
    display: inline-block;
    vertical-align: top;
  }
  &__link {
    padding-left: 40px;
    text-align: left;
    display: block;
    width: 145px;
    height: 41px;
    line-height: 4.3rem;
    background-color: #ffcc33;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    color: #000;
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 10px;
      top: 50%;
      width: 23px;
      height: 24px;
      background-image: url($svg);
      background-repeat: no-repeat;
      background-position: -10px -966px;
      @include transform(translateY(-50%) scale(0.91));
    }
    &_fefco {
      margin-right: 30px;
    }
    &_gost {
      padding-left: 45px;
    }
  }
}

.m-head-phone {
  right: 15px;
  top: 25px;
  position: absolute;
  background-color: #ffcc33;
  display: block;
  text-decoration: none;
  width: 57px;
  height: 57px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  &::after {
    font-size: 16px;
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    background-image: url($svg);
    background-repeat: no-repeat;
    background-position: -10px -1011px;
    width: 38px;
    height: 37px;
  }

  &_home {
    top: 400px;
    right: 25px;
  }
  &_mail {
    right: 100px;
    &::after {
      background-position: -10px -1672px;
      width: 40px;
      height: 29px;
    }
  }
  @include breakpoint($brp-4) {
    display: none;
  }
}

.h1 {
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  color: $text;
  margin-bottom: 20px;
  @include user-select(none);
  @include breakpoint($brp-4) {
    font-size: 3.6rem;
  }
  &_product {
    margin-top: 17px;
    line-height: 1.45;
    text-align: left;
  }
  &__b {
    font-weight: bold;
    &_low {
      text-transform: none;
    }
  }
}

.more-link {
  text-decoration: none;
  position: relative;
  font-size: 0;
  background-color: #ffcc33;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  width: 200px;
  height: 45px;
  line-height: 4.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 1.4rem;
  margin: 23px auto 0;
  @include transition(background-color 0.3s linear, transform 0.3s linear);
  &::before {
    content: '';
    display: inline-block;
    vertical-align: top;
    background-image: url($svg);
    background-position: -10px -1634px;
    width: 24px;
    height: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    @include transition(transform 0.3s linear);
    @include transform(translate(-190px, -50%));
    @include breakpoint($brp-5) {
      @include transform(translate(-210px, -50%));
    }
  }
  &__text {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 45px;
    line-height: 4.5rem;
    font-size: 1.4rem;
    @include transition(transform 0.3s linear);
    @include breakpoint($brp-5) {
      width: 235px;
      height: 60px;
      font-size: 1.5rem;
      line-height: 6rem;
    }
    &_fast {
      width: 175px;
      height: 48px;
      line-height: 4.8rem;
      color: #ffffff;
    }
    &_goods {
      margin: 0;
      width: 175px;
      height: 48px;
      line-height: 4.8rem;
    }
    &_product {
      width: 284px;
      @include breakpoint($brp-4) {
        width: 420px;
      }
    }
    &_button {
      height: 68px;
      line-height: 6.8rem;
      font-size: 2.4rem;
      width: 277px;
    }
  }
  &:hover {
    background-color: rgba(#ffcc33, 0.8);
    .more-link__text {
      @include transform(translateX(100%));
    }
    &::before {
      @include transform(translate(-50%, -50%));
    }
  }
  @include breakpoint($brp-5) {
    margin-top: 38px;
    width: 235px;
    height: 60px;
    font-size: 1.6rem;
    line-height: 6rem;
  }
  &_fast {
    margin: 0 auto 20px;
    width: 175px;
    height: 48px;
    line-height: 4.8rem;
    color: #ffffff;
    background-color: #7f7f7f;
    &::before {
      background-position: -10px -1814px;
      width: 32px;
      height: 32px;
    }
    &:hover {
      background-color: #4c4c4c;
    }
  }
  &_goods {
    margin: 0 auto;
    width: 175px;
    height: 48px;
    line-height: 4.8rem;
  }
  &_details {
    margin-left: 0;
    &::before {
      background-position: -10px -966px;
      width: 23px;
      height: 24px;
    }
  }
  &_materials {
    margin-top: 5px;
  }
  &_product {
    margin: 0;
    width: 284px;
    @include breakpoint($brp-4) {
      width: 420px;
    }
    &::before {
      @include transform(translate(-315px, -50%));
      background-position: -10px -2014px;
      width: 24px;
      height: 32px;
    }
  }
  &_button {
    margin: 0;
    width: 277px;
    border: none;
    padding: 0;
    height: 68px;
    line-height: 6.8rem;
    font-size: 2.4rem;
    text-transform: uppercase;
    &::before {
      background-position: -10px -2066px;
      width: 32px;
      height: 32px;
    }
  }
  &.hide {
    @include transform(scale(0));
  }
}

@include keyframes(visibilityAnimate) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal {
  &__container {
    padding-top: 29px;
    @include breakpoint($brp-3) {
      padding-top: 58px;
    }
  }
}

.m-form {
  width: 300px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
  border: 2px solid #ffcc33;
  position: relative;
  @include breakpoint($brp-3) {
    width: 700px;
    border: 16px solid #ffcc33;
    padding-top: 55px;
    padding-bottom: 60px;
  }
  &__close {
    font-size: 0;
    text-decoration: none;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    @include transform(scale(0.5));
    @include breakpoint($brp-3) {
      @include transform(scale(1));
    }
    &::after,
    &::before {
      content: '';
      background-image: url($svg);
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 57px;
      height: 57px;
      background-position: -10px -2118px;
    }
    &::after {
      background-position: -10px -2195px;
      @include transform(scale(0));
      @include transition(transform 0.3s linear);
    }
    &:hover {
      &::after {
        @include transform(scale(1));
      }
    }
  }
  &__sub {
    text-align: center;
    font-size: 1.8rem;
    line-height: 1;
    margin-bottom: 15px;
    @include breakpoint($brp-3) {
      margin-bottom: 40px;
      font-size: 2.4rem;
    }
    &_b {
      font-weight: bold;
    }
    &_hide {
      display: none;
      &.show {
        display: block;
      }
    }
  }
  &__total {
    font-weight: bold;
    line-height: 1;
    color: $text;
    text-align: center;
    font-size: 2.4rem;
    text-transform: uppercase;
    margin-bottom: 15px;
    @include breakpoint($brp-3) {
      font-size: 3.6rem;
      margin-bottom: 33px;
    }
    &-input {
      border: none;
      background-color: #fff;
      font-size: 2.4rem;
      @include breakpoint($brp-3) {
        color: $text;
        font-size: 3.6rem;
      }
    }
  }
  &__text {
    text-align: center;
    font-size: 1.8rem;
    line-height: 1;
    margin-bottom: 15px;
    @include breakpoint($brp-3) {
      margin-bottom: 30px;
      font-size: 2.4rem;
    }
    &:last-child {
      margin: 0;
    }

  }
  &__caption {
    font-weight: bold;
    line-height: 1;
    color: $text;
    text-align: center;
    font-size: 2.4rem;
    text-transform: uppercase;
    margin-bottom: 15px;
    @include breakpoint($brp-3) {
      font-size: 3.6rem;
      margin-bottom: 33px;
    }
    &_error {
      color: #ff0000;
    }
  }
  &__label {
    font-size: 1.8rem;
    line-height: 1;
    display: block;
    margin-bottom: 5px;
  }
  &__input {
    color: #999999;
    font-size: 2.4rem;
    line-height: 1;
    display: block;
    padding: 0 15px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ffcc33;
    height: 36px;
    line-height: 3.4rem;
    box-shadow: none;
    font-family: ProximaNova, serif;
    @include transition(border-color 0.3s linear, box-shadow 0.3s linear);
    @include placeholder {
      color: #999999;
      font-family: ProximaNova, serif;
    }
    &_number {
      border: none;
      height: 34px;
      padding-right: 0;
      width: 150%;
    }
    &-wrapper {
      display: block;
      width: 100%;
      border: 1px solid #ffcc33;
      height: 36px;
      overflow: hidden;
    }
  }
  &__row {
    line-height: 1;
    width: 277px;
    margin: 0 auto 23px;
    &_submit {
      margin-top: -3px;
      margin-bottom: 0;
    }
    &_hide {
      text-align: center;
      font-size: 0;
      width: auto;
      display: none;
      &.show {
        display: block;
      }
    }
  }
  &__container {
    @include transition(all 0.3s linear);
  }
  &__answer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    @include transform(scale(0));
    @include transition(transform 0.3s linear, z-index 0.3s linear);
  }
  &.answer {
    .m-form__answer {
      z-index: 10;
      @include transform(scale(1) translate(-50%, -50%));
    }
    .m-form__container {
      opacity: 0;
      z-index: -1;
    }
  }
}

.validate-error {
  border-color: #ff0000;
  box-shadow: 0 0 5px 0px #ff0000;
}