$brp-1: 480px;
$brp-2: 544px;
$brp-3: 768px;
$brp-4: 1020px;
$brp-5: 1210px;
$brp-6: 1378px;
$brp-7: 1440px;
$max-h1: max-height 320px;
$max-h2: max-height 640px;
$max-h3: max-height 1024px;

$min-h1: min-height $brp-1;
$min-h3: min-height $brp-3;

$max-w4: max-width $brp-7 - 1;

$fnt_size: 1.6rem;
$mb: 20px;
$color_heading: #67c48b;
$text: #000000;
$table_color: #e0e0e0;
$yellow: #f1c94a;
$green: #67c48b;
$orange: #d78239;
$blue: #034186;
$lblue: #428bca;
$aqua: #7fbde8;
$grey: #535353;
$drgey: #1d2026;
$lgrey: #eeeeee;
$red: #c01111;
$pink: #fa335f;
$brown: #32170f;
$beige: #cbb99d;
$w: 1180px;
$susy: (
        gutter-position: after,
        container: $w,
);
$path: '/assets/dist/';
$sprite: $path +'img/sprite.png';
$svg : $path +'svg/sprite.svg';